<a href="https://colab.research.google.com/github/sujayrittikar/NLP_Basics/blob/main/MovieReviews_TextClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('moviereviews.tsv', sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
df['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [5]:
df['review'].isnull().sum()

35

In [6]:
df = df.dropna()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
#  X feature data
X = df['review']
# y is label
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [10]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()), ('rfc', RandomForestClassifier(max_depth=15, random_state=1))])

In [11]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('rfc', RandomForestClassifier(max_depth=15, random_state=1))])

In [12]:
predictions = text_clf.predict(X_test)

In [13]:
from sklearn import metrics

In [14]:
print(metrics.confusion_matrix(y_test, predictions))

[[258  58]
 [ 58 216]]

In [15]:
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.82      0.82      0.82       316
         pos       0.79      0.79      0.79       274

    accuracy                           0.80       590
   macro avg       0.80      0.80      0.80       590
weighted avg       0.80      0.80      0.80       590